.about-section {
    padding: 8rem 2rem;
    background-color: #083a01; 
    color: #fff;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    gap: 2rem;
  }
  
  .about-image {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    max-width: 700px;
  }
  
  .about-image img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
  }
  
  .experience-badge {
    position: relative;
    bottom: 100px;
    right: -300px;
    width: 300px;
    background-color: #ffc107;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
  }
  .description{
    padding-top: 2rem;
  }
  .description p{
    font-size: 1rem;
    line-height: 1.5
  }
  .about-content {
    flex: 1;
    max-width: 600px;
  }
  .about{
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid yellow;
    color: yellow;
    font-size: 0.875rem;
    border-radius: 20px;
  }
  .about-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .about-feature {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .about-feature .icon {
    font-size: 4rem;
    color: #ffc107;
  }
  
  .about-feature h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .about-feature p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .about-content img{
    width: 100%;
    height: 450px;
    border-radius: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column-reverse;
    }
    .about-image{
        flex-direction: column-reverse;
    }
    .about-image img{
        height: 450px;
    }
    .experience-badge{
        display: none;
    }
    .about-content h2 {
      font-size: 1.75rem;
    }
  
    .about-feature h3 {
      font-size: 1.1rem;
    }
  
    .about-feature p {
      font-size: 0.9rem;
    }
  }